@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

.logo{
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    
}

.log{
    height: 28px;
    width: 28px;
    background-color: rgb(112, 112, 223);
    border-radius: 30px;
    border: none;
}


.Challenge{
    display: flex;
    justify-content: space-around;
}


.Challenge2{
    padding-top: 19px;
    padding-bottom: 30px;
    padding-left: 50px;
}


.welcome{
    padding-bottom: 5px;
}


.welcome p{
    color: white;
    font-size: 70%;
    font-family: 'Roboto', sans-serif;

  
}

.welcome h3{
    color: white 

}



.form{
   margin-top: 11px;
   color: white;
  
}

.form1 input{
    position: relative;
    height: 5px;
    width: 22vw;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #282A2F;
    border: none;
    padding: 7%;
    color: white;  
     
}

/* html */

.fa-eye{
    position: absolute;
    top: 70%;
    left:  29%;
    font-size: 18px;
    color: #8b8b8b;
    z-index: 1;
    cursor: pointer;
    padding: 5px;
    transform: translateY(-50%);
    
}



.agree{
    padding-top: 11px;
    
}

.checkbox-label {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;

}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: #8458eb;
}


.checkmark:after {
    content: "";
    position: absolute;
    
}

.checkbox-label input:checked + .checkmark:after {
    display: block;
    
}

.checkbox-label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    
   
}

.checktext{
    padding: 20px;
}

.checkbox-label-text {
    padding-left: 30px;
    /* padding-top: 100px; */
    
    
}


.form2{
    text-align: center;
    margin-top: 26px;
    background-color: rgb(112, 112, 223);
    padding: 18px;
    color: white;
    height: 10px;
    /* width: 22vw; */
    border-radius: 9px;
    
}

.form2 span, a{
  font-size: 16px;
}

.form2 a {
    text-decoration: none;
    color: white;
}


.line{
    position: relative;
    background-color: #d4d4d4;
    margin: 36px 0;
    height: 1px;
    width: 100%;
}

.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #202227;
    color: #8b8b8b;
    padding: 0px 17px;
    transform: translate(-50%, -50%);
}

.form3{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 9px;
    border: none;
    height: 10px;
    width: 25vw;
}

.form3, span, a{
    color: white;
    text-decoration: none;
}

.imag{
    width: 49%;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 120px;
    /* height: 100vh; */
}






/* HTML 2 */


.sectt{
    background-color: #202227;
    border-radius: 20px;
}

.Challenge{
    display: flex;
    justify-content: space-around;
     /* padding: 8px; */
   /* padding-bottom: 50px;  */
}


.Challenge1{
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#fa{
    position: absolute;
    top: 59%;
    left:  29%;
    font-size: 18px;
    color: #8b8b8b;
    z-index: 1;
    cursor: pointer;
    padding: 5px;
    transform: translateY(-50%);
    
}


.welcome{
    padding-bottom: 20px;
    padding-top: 30px;
}


.welcome p{
    color: white;
    font-size: 78%;
  
}

.welcome h3{
    color: white 
    
}




.imagg{
    width: 50%;
    border-radius: 20px 20px 20px 20px;
    /* height: 100vh; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
}


@media only screen and (max-width: 910px){
    .fa-eye{
        position: absolute;
        top: 74%;
        left:  29%;
        font-size: 18px;
        color: #8b8b8b;
        z-index: 1;
        cursor: pointer;
        padding: 5px;
        transform: translateY(-50%);
    }

    .imagg{
        width: 60%;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
}


@media only screen and (max-width: 848px) {
    .imagg{
        display: none;
    }


    .welcome{
        padding-bottom: 20px;
        padding-top: 30px;
    }
    

    /* AGREEE */

    .checktext{
        padding: 26px;
     
    }

    
    .checkmark{
        top: 21px;
    }
    


    
    
    .welcome p{
        color: white;
        font-size: 78%;
    }
    
    .welcome h3{
        color: white 
    }

    .Challenge{
        justify-content: center;
        align-items: center;
        
    }

    .Challenge1{
        padding-top: 11px;
        padding-bottom: 25px;
        padding-right: 65px;
        
    }

    .form{
        margin-top: 11px;
        color: white;
        justify-content: center;
        align-items: center;
       
     }
     
     .form1 input{
         position: relative;
         /* height: 80px; */
         width: 83vw;
         margin-top: 10px;
         border-radius: 6px;
         background-color: #282A2F;
         border: none;
         padding: 3%;
         color: white;
        
          
     }

     .fa-eye{
        position: absolute;
        top: 80%;
        left:  87%;
        font-size: 18px;
        color: #8b8b8b;
        z-index: 1;
        cursor: pointer;
        padding: 5px;
        transform: translateY(-50%);
    }

     
     .form3{
        background-color: black;
        padding-top: 20px;
        padding-bottom: 30px;
        border-radius: 9px;
        border: none;
        /* height: 0px; */
        width: 88vw;
    }
    
    .form3, span, a{
        color: white;
        text-decoration: none;
    }


    /* AGGREE */

    .checkbox-label-text{
        padding-left: 30px;
        padding-top: 0xp;
        
        
    }    
    
    



  @media only screen and (max-width: 742px){
    .fa-eye{
        position: absolute;
        top: 78%;
        left:  87%;
        font-size: 18px;
        color: #8b8b8b;
        z-index: 1;
        cursor: pointer;
        padding: 5px;
        transform: translateY(-50%);
    }


  }


  @media only screen and (max-width: 647px){

    
    .fa-eye{
        top: 75%;
        left:  86%;
        
    }
  }

  @media only screen and (max-width: 592px){

    
    .fa-eye{
        top: 84%;
        left:  86%;
       
    }

    .form1 input{
        position: relative;
        /* height: 80px; */
        width: 83vw;
        margin-top: 10px;
        border-radius: 6px;
        background-color: #282A2F;
        border: none;
        padding: 4%;
        color: white;
  }
  }

  @media only screen and (max-width: 546px){

    
    .fa-eye{
        position: absolute;
        top: 83%;
        left:  86%;
        
    }

    /* AGREE */

    .checkbox-label{
        margin: 6px;
        padding-left: 5px;
        font-size: 14px;
    }
    

    .Challenge1{
        padding: 40px;
    }

  }

}

@media only screen and (max-width: 454px){
    .fa-eye{
        position: absolute;
        top: 80%;
        left:  86%;
        font-size: 18px;
        color: #8b8b8b;
        z-index: 1;
        cursor: pointer;
        padding: 5px;
        transform: translateY(-50%);
    }      
}
  
  @media only screen and (max-width: 425px){

    .fa-eye{
        position: absolute;
        top: 36%;
        left:  86%;
    }

    .form1 input{
        position: relative;
        /* height: 80px; */
        width: 83vw;
        margin-top: 10px;
        border-radius: 6px;
        background-color: #282A2F;
        border: none;
        padding: 4%;
        color: white;
  }
  }

  @media only screen and (max-width: 320px){
    .fa-eye{
        top: 00%;
        left:  84%;
    }

    .form1 input{
       height: 15px;
    }

    .checkmark{
        top: 30px;
    }
    
  }

  @media only screen and (max-width: 375px){
    .fa-eye{
        top: 69%;
    }

    .form1 input{
        height: 17px;
     }

     .checkmark{
        top: 30px;
    }
    
 
  }






  /* html2 */

  @media only screen and (max-width: 900px){

    #fa{
        position: absolute;
        top: 64%;
        left:  61%;
        font-size: 18px;
        color: #8b8b8b;
        z-index: 1;
        cursor: pointer;
        padding: 5px;
        transform: translateY(-50%);
       
        
    }

    .imag{
        display: none;
    }
    
   
  }

  /* HTML2 */

  @media only screen and (max-width: 842px){

    #fa{
        position: absolute;
        top: 68%;
        left:  89%;
        font-size: 18px;
        color: #8b8b8b;
        z-index: 1;
        cursor: pointer;
        padding: 5px;
        transform: translateY(-50%);
       
        
        .form2{
            text-align: center;
            margin-top: 26px;
            background-color: rgb(112, 112, 223);
            padding: 18px;
            color: white;
            height: 10px;
            /* width: 22vw; */
            border-radius: 9px;
            background-color: fed;
        }
    }
    
    }

